/*header style*/
header {
   text-align: center; 
   padding: 20px;
}
.row {
   display: flex;
   flex-wrap: wrap;
}
.profile {
   flex: 70%;
   padding: 20px;
}
/*profile image and heading style*/
.profile h1 {
   text-align: center;
}
